@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --primario : #1F2572;
    --secundario: #CDEF77;
    --terciario: #B122CB;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
.logo {
    width: 100%;   
    height: 10%;
}
.botton-line{
    border-bottom: solid .1px rgb(128, 128, 128);
}

@media (max-width: 780px ) {
    .vertical{
        display: inline !important;
    }
    .uso-completo {
        width: 100% !important;
    }
}

.bg-primario {
    color: var(--secundario);
    background: linear-gradient(to bottom right, var(--primario) 55%, var(--terciario));
    border-radius: 39px 39px 39px 39px;
    -moz-border-radius: 39px 39px 39px 39px;
    -webkit-border-radius: 39px 39px 39px 39px;
}

.bg-secundario {
    background-color: var(--primario);
}

<<<<<<< HEAD
.rounded-personalizado {
    border-radius: 30px;
=======
.margin {
    margin-top: 100px
>>>>>>> a604d4341acc53a86fc31912d86269dad457a0b4
}